

.login-form {
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.login-form__header {
  margin-bottom: 1em;
}

.login-form__header > h2 {
  margin-bottom: .5em;
  font-size: 1.25em;
  font-weight: bold;
}

.login-form__header > div {
  font-size: .85em;
}

.login-form label {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: .25em;
}

.input-group {
  margin-bottom: 1.25em;
}

.error {
  color: red;
  margin-bottom: 10px;
}



input {
  height: 36px;
  width: 100%;
  padding: .5em .75em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.links {
  margin-top: 20px;
}

